<!doctype html>
<html lang="en" ng-app="ReDNS">
  <head>
    <title>ReDNS: because you're that cheap</title>
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>

    <script>

    var angularRoot = "https://jared-harvard-computer-ips.firebaseio.com"

    </script>

    <script>
      rootURL = "redns.html";
      var urlMatch = window.location.href.match(rootURL + "#/([^/]*)(/.*)$");
      if (urlMatch) {
        $.get(angularRoot+'/services/'+urlMatch[1]+'.json', function(service){
          $.get(angularRoot+'/computers/'+service.server+'.json', function(computer){
            var redirect = 'http://'+computer+':'+service.port+urlMatch[2];
            window.location.href = redirect;
          });
        });
      }
    </script>

    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-strap/0.7.4/angular-strap.min.js"></script>

    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.3.0/angularfire.min.js"></script>

    <style>

    #launchers {
      margin-top: 2em;
    }

    #servicelist {
      margin-top: 4em;
    }

    input[type="text"].discreetly-editable {
      border: none;
      padding: 0;
      margin: 0;
      height: inherit;
      background-color: rgba(0,0,0,0);
      width: 100%;
      box-shadow: none;
    }

    .tr-delete-button {
      visibility: hidden;
    }

    tr:hover .tr-delete-button {
      visibility: inherit;
    }

    </style>
    <script type="text/javascript">

    var ReDNS = angular.module("ReDNS", ["firebase"]);

    ReDNS.controller('Controller', function ($scope, angularFire) {
      var ref = new Firebase("https://jared-harvard-computer-ips.firebaseio.com/computers");
      angularFire(ref, $scope, "computers");

      var svs = new Firebase("https://jared-harvard-computer-ips.firebaseio.com/services");
      angularFire(svs, $scope, "services");

      $scope.addService = function() {
        $scope.services[$scope.newServiceName] = {
          server: $scope.newServiceServer,
          port: $scope.newServicePort
        };

        $scope.newServiceName = "";
        $scope.newServiceServer =  "";
        $scope.newServicePort = "";
      };

      $scope.removeService = function(service) {
        delete $scope.services[service];
      };

    });

    </script>
  </head>

<body ng-controller="Controller">

<div class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">ReDNS</a>
      <ul class="nav">
        <li><a href="#">edit</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container" id="launchers">
  <div class="row">
    <div ng-repeat="(name, service) in services">
      <div class="span6 text-center">
        <a ng-href="http://{{computers[service.server]}}:{{service.port}}">
          <input type="button" class="btn btn-primary btn-large" value="{{name}}" />
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container" id="servicelist">
  <div class="row">
    <div class="offset2 span8">
      <table class="table">
        <tr>
          <th>Service</th>
          <th>Server</th>
          <th>Port</th>
          <th></th>
        </tr>
        <tbody>
          <tr ng-repeat="(name, service) in services">
            <td>{{name}}</td>
            <td><input type="text" class="discreetly-editable" ng-model="service.server" /></td>
            <td><input type="text" class="discreetly-editable" ng-model="service.port" /></td>
            <td><li class="tr-delete-button icon-trash" ng-click="removeService(name)"></li></td>
          </tr>
          <tr>
            <td>
              <form ng-submit="addService()">
                <input type="text" placeholder="New service..." class="discreetly-editable" ng-model="newServiceName" />
              </form>
            </td>
            <td>
              <form ng-submit="addService()">
                <input type="text" class="discreetly-editable" ng-model="newServiceServer" />
              </form>
            </td>
            <td>
              <form ng-submit="addService()">
                <input type="text" class="discreetly-editable" ng-model="newServicePort" />
              </form>
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="offset3 span6">
      <table class="table">
        <tr>
          <th>Server</th>
          <th>IP Address</th>
        </tr>
        <tbody>
          <tr ng-repeat="(name, ip) in computers">
            <td>{{name}}</td>
            <td>{{ip}}</td>
          </tr>
        </tbody>
    </div>
  </div>

</div>

</body>
</html>
